@import "../../../sass/index.scss";
$txt-color: #fff;
$hover-bg: #4297c2;
.mainContainer {
    width: 100%;
    height: 45px;
    @include flex(center, flex-start);
    position: relative;
    box-sizing: border-box;
    background-color: $appbar-color;
    padding-left: 10px;
    svg {
        cursor: pointer;
    }
    span {
        padding-left: 10px;
    }

    .logo {
        padding-left: 20px;
    }

    .btnAppBar {
        margin-left: 10px;
        font-size: 10px;
        span {
            padding: 0 0 0 5px;
            margin: -2px 0 0 0;
        }
        :nth-child(1) {
            color: $txt-color;
            border: none;
            outline: none;
        }
    }

    .search {
        position: absolute;
        right: 140px;
    }

    .infor {
        position: absolute;
        right: 110px;
    }

    .noti {
        position: absolute;
        right: 70px;
    }

    .avatar {
        position: absolute;
        right: 10px;
        top: 2px;
    }
}
